.App {
  text-align: center;
  background-color: #c2c2d6;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.calculator {
    border: 2px solid #47476b;
    padding: 5px;
    background: black;
    width: 320px;
    position: relative;
    margin: 10vh 38vw;
}
button{
    position: relative;
    height: 65px;
    width: 80px;
    color: white;
    outline: 1px solid black;
    border: none;
    background: #4d4d4d;
    font-family: Share Tech Mono, monospace;
    font-size: 20px;
    cursor: default;
}
#add, #subtract, #multiply, #divide, #decimal {
  background-color: #666666;
}
.outputScreen {
    font-size: 29px;
    font-family: digital;
    color: white;
    text-align: right;
    line-height: 35px;
}
.formulaScreen{
    min-height: 20px;
    font-family: digital;
    font-size: 20px;
    color: orange;
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.jumbo{
  width: 160px;
}
#clear{
  background-color: rgb(172, 57, 57);
}
@media screen and (max-width: 480px) {
  .calculator {
    margin: 0vw 2vh; 
    border: 2px solid #47476b;
    padding: 5px;
    background: black;
    width: 287px;
    position: relative;
  }
  button{
    position: relative;
    height: 65px;
    width: 70px;
  }
  .jumbo{
    width: 140px;
  }
  
}
